.bricks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;

  &.content {
    text-align: center;
  }

  // .bricks-row {
  //
  // }

  .brick {
    border: 1px solid $color-4-dark;
    display: inline-block;
    height: 70px;
    margin: 5px;
    width: 40px;
  }
}

.game-controll {
  border-bottom: 1px solid $color-4-dark;
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: space-around;
  padding-top: 32px;
}
