body {
  background-color: darken($color-1-white, 10%);
  color: $color-2-black;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}

.memory-game {
  text-align: center;
}

.header {
  background-color: $color-4-dark;
  box-sizing: border-box;
  color: $color-1-white;
  height: 100px;
  padding: 20px 0;

  .h-icon {
    display: inline-block;
    font-size: 4.5em;
    left: 10px;
    position: absolute;
    top: -16px;
  }

  .body {
    margin: 0 auto;
    position: relative;
    width: 960px;
  }

  h1 {
    font-size: 1.8em;
    margin: 0;
    text-align: right;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 0;
    text-align: right;
  }
}

.footer {
  border-top: 1px solid $color-4-dark;
  color: $color-4-dark;
  font-size: .8em;
  margin: 0 auto;
  padding-top: 5px;
  width: 960px;
}

.content {
  margin: 0 auto;
  min-height: 400px;
  width: 960px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}
