<div class='header'>
  <div class='body'>
    <div class='h-icon'>
      <i class="fa fa-object-ungroup" aria-hidden="true"></i>
    </div>
    <h1>Simple Memory Game</h1>
    <h2>Made with use of REACT and RubyOnRails</h2>
  </div>
</div>
